*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa', serif;
font-family: 'Borel', cursive;
font-family: 'Marhey', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
text-decoration:none ;
list-style: none;
direction: rtl;
text-align: center;
}

body{
    background: rgb(53, 53, 53);
    /* بعملها لم احب اخلي صورة شفافة */
    color: white;
   
}

header{
    width: 100%;
    height: 100vh;
   
   
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: rgba(0,0,0,0.5) ;
}

.title a{
    font-family: 'Aref Ruqaa', serif;
font-family: 'Borel', cursive;
font-family: 'Marhey', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Rubik', sans-serif;
color: #E09035;
font-size: 30px;
cursor: pointer;
}
.title a:hover{
    color: rgb(153, 12, 12);
    font-size: 35px;
}





nav ul li{
    margin: 45px;
    margin-right: 20px;
  display: inline;
   font-size: 15px;
}
a{
    color:  wheat ;
    border-bottom: 2px solid transparent;
}
.nau a:hover{
    border-bottom-color:rgb(153, 12, 12);
}

.sgi{
    width: 30px;
    height: 30px;
    margin: auto;
    position: relative;
    left: 100px;
}


/*  */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* نمط النموذج */
.contact-form {
    padding: 10Px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    margin-bottom: 60px;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(153, 12, 12);
    border-radius: 3px;
}

.contact-form button {
    background-color: rgb(153, 12, 12);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #be9408;
}