*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa', serif;
font-family: 'Borel', cursive;
font-family: 'Marhey', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
text-decoration:none ;
list-style: none;
direction: rtl;
text-align: center;
}

body{
    background: #000;
    /* بعملها لم احب اخلي صورة شفافة */
    color: white;
   
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(arrangement-black-friday-shopping-carts-with-copy-space.jpg);
    background-size: cover;
    background-position: center;
}

.containe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: rgba(0,0,0,0.5) ;
}

.title{
    font-family: 'Aref Ruqaa', serif;
font-family: 'Borel', cursive;
font-family: 'Marhey', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Rubik', sans-serif;
color: #E09035;
font-size: 30px;
cursor: pointer;
}
.title:hover{
    color: rgb(153, 12, 12);
    font-size: 35px;
}





nav ul li{
    margin: 45px;
    margin-right: 20px;
  display: inline;
   font-size: 15px;
}
a{
    color:  wheat ;
    border-bottom: 2px solid transparent;
}
.nau a:hover{
    border-bottom-color:rgb(153, 12, 12);
}


/*  */


/* .container{
    height: 200px;
}

.signup-form {
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.815);
    padding: 20px;
    border-radius: 5px;
    width: 350px;
   
   
}

h2 {
    color: #ffffff;
}

.form-group {
    margin: 15px 0;
    
    
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
} */


.from-box{
    width: 650px;
    height: 450px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0), -5px -5px 15px rgb(0, 0, 0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 40px 30px 30px 30px ;
    position: relative;
    right: 350px;
    top: 40px;
}

.hor{
    text-align: center;
}

.from-box .loga{
    width: 105px;
    margin: auto;
   
}

.from-box .name{
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    margin: 20px 0px 30px 0 ;
    text-align: center;
}
/*  */
.from-box .input1{
    width: 550px;
    position: relative;
    left: 170px;
    border: none;
    outline: none;
    
}
.from-box .input1 input{
    width: 40%;
  color: black;
  border: 3px ridge white;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px rgb(255, 255, 255), inset -8px -8px 8px rgb(255, 255, 255);
    text-align: end;
    height: 30px;
}

.from-box .input1 .wid{
    position: relative;
    top: 7px;
    color: white;
}
/*  */

.from-box .input2{
    width: 550px;
   
    position: relative;
    right: 150px;
    border: none;
    outline: none;
    bottom: 35px;
    
}
.from-box .input2 input{
    width: 40%;
  color: black;
  border: 3px ridge white;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px rgb(255, 255, 255), inset -8px -8px 8px rgb(255, 255, 255);
    text-align: end;
    height: 30px;
    position: relative;
    bottom: -2px;
}

.from-box .input2 .wid{
    position: relative;
    top: 7px;
    color: white;
}

/*  */

.from-box .input3{
    width: 550px;
    position: relative;
    left: 170px;
    border: none;
    outline: none;
    
}
.from-box .input3 input{
    width: 40%;
  color: black;
  border: 3px ridge white;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px rgb(255, 255, 255), inset -8px -8px 8px rgb(255, 255, 255);
    text-align: end;
    height: 30px;
}

.from-box .input3 .wid{
    position: relative;
    top: 7px;
    color: white;
}

/*  */

.from-box .input4{
    width: 550px;
    position: relative;
    right: 150px;
    border: none;
    outline: none;
    bottom: 33px;
    
}
.from-box .input4 input{
    width: 40%;
  color: black;
  border: 3px ridge white;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px rgb(255, 255, 255), inset -8px -8px 8px rgb(255, 255, 255);
    text-align: end;
    height: 30px;
   
}

.from-box .input4 .wid{
    position: relative;
    top: 7px;
    color: white;
}

.eye-icon {
    cursor: pointer;
    user-select: none;
}

/*  */

.from-box .input5{
    width: 550px;
    position: relative;
    right: 20px;
    border: none;
    outline: none;
    
}
.from-box .input5 input{
    width: 40%;
  color: black;
  border: 3px ridge white;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px rgb(255, 255, 255), inset -8px -8px 8px rgb(255, 255, 255);
    text-align: end;
    height: 30px;
}

.from-box .input5 .wid{
    position: relative;
    top: 7px;
    color: white;
}



.eye-ico {
    cursor: pointer;
    user-select: none;
}






.from-box button{
    width: 100%;
    height: 33px;
    padding: 5px 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(153, 12, 12);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.3px;
    cursor: pointer;
    margin-top: 30px;
    
    transform: .3s ease-in-out;
    -webkit-transform: .3s ease-in-out;
    -moz-transform: .3s ease-in-out;
    -ms-transform: .3s ease-in-out;
    -o-transform: .3s ease-in-out;
}
.from-box button:hover{
    background: rgb(185, 122, 5);
}
.from-box h5{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.from-box h5 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}